<div class="container">
    <div *ngIf="errorResponseMessage">
        <p class="error-message">{{ errorResponseMessage }}</p>
    </div>
    <div class="list-wrap" *ngIf="true">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <div class="liste-item-text-button" *ngFor="let guest of listReserveWithoutCheckin">
                    <div class="text-guest">
                        <p>Hóspede: {{guest.guest.name}}</p>
                        <p>reserva: {{guest.id}}</p>
                    </div>
                    <button mat-raised-button color="primary" (click)="checkinNow(guest.id)">Checkin agora</button>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="container-button">
        <button mat-raised-button (click)="back()">Voltar</button>
        <button mat-raised-button (click)="navigateCheckout()">Tela de checkout</button>
    </div>
</div>