<div class="container">
  <h1>Criar Novo Hóspede</h1>
  <form [formGroup]="guestForm">
    <mat-form-field class="form-group">
      <mat-label>Nome </mat-label>
      <input type="text" matInput id="name" formControlName="name" placeholder="Nome do Hóspede">
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>Telefone </mat-label>
      <input type="tel" matInput id="phone" formControlName="phone" placeholder="Telefone">
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>CPF </mat-label>
      <input type="text" matInput id="cpf" formControlName="cpf" placeholder="CPF">
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="accent" (click)="addGuest()">Salvar</button>
      <button mat-raised-button (click)="back()">Voltar</button>
    </div>
  </form>

</div>
